/buildDev
/cache
/captures
/config.json
/data
/desktop.ini
/dist
/icon.webp
/node_modules
/package-lock.json
/ssl
/webstaticSea
/Genshin Impact game
/handbook.txt
**.code-workspace
.vscode/settings.json
.DS_Store